</div>
<div class="footer-padding fixed"></div>
<div class="footer">

    <p>&copy; Made with ❤️ by The G-Tech Solutions<span>
            <script>var date = new Date; document.write(date.getFullYear())</script></span></p>

</div>
</div>
</body>

</html>